/* --------------- Fonts used : Poppins + Abril Fatface --------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Serif+Pro&display=swap');
/* --------------- Website Theme --------------- */

:root {
  --main-color-1: white;
  --main-color-dark-1: white;
  --main-color-2: white;
  --main-color-dark-2: white;
  --section-padding: 7rem;
}

body {
  --bg-color: white;
  --bg-color-1: white;
  --bg-color-2: #fff;
  --bg-color-3: white;
  --bg-color-transparent: rgba(255, 255, 255, 0.6);
  --heading-color: black;
  --text-color: black;
}



/* --------------- General Styles --------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: " Roboto", sans-serif;
}

::selection {
  background-color: black;
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* --------------- Reusable CSS Code --------------- */
.container{
  position: relative;
  width:100% ;
  max-width: 75rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  height: auto;
}

.sub-heading{
  font-weight: lighter;
  font-size: 25px;
  font-family: 'Source Serif Pro', serif;
  /* margin-left: -320px; */
  padding-top: 50px;
  width: 850px;
}
.foot{
  height: auto;
}

.heading{
  font-weight: lighter;
  font-size: 50px;
  font-family: 'Source Serif Pro', serif;
  margin-top: 100px;
  padding-bottom: 80px;
  /* margin-left: -530px; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center; 
 }

.content {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center; /* <-- center all child elements horizontally */
}

 
.text{
  /* margin-left: -320px; */
  width: 850px;
  line-height: 2;
  font-weight: lighter;
  padding-top: 10px;
 }


 .name2 .heading{
  font-weight: lighter;
  font-size: 80px;
  font-family: 'Source Serif Pro', serif;
  margin-top: 350px;
  padding-top: 80px;
  padding-bottom: 50px;
  width: 1000px;
  background-color: transparent;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  opacity: 0;
 }
 
 .link{
  color: black;
 }

 .bggray{
  background-color: rgb(244, 243, 243);
  margin-top: -880px;
  width: 100%;
  align-items: center;
 }

 .center{
  text-align: center;
  /* margin-left:  -350px; */
 }

 .map{
  margin-top: 50px;
  /* margin-left: -625px; */
  width: 150%;
  border-radius: 30px;
 }
 .sub{
  font-size: 20px;
  margin-top: -70px;
  font-weight: lighter;
 }
 


/* --------------- Navbar Styling --------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 105;
  height: 100px;
  background-color: transparent;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);

  display: flex;
  justify-content: center;   /* center the links container */
  align-items: center;       /* vertical alignment */
}

.links {
  /* fixed: only change position */
  position: relative;
  display: flex;
  justify-content: center;   /* center nav horizontally */
  align-items: center;
}

.links ul {
  display: flex;
  align-items: center;
  /* fix: remove width */
  /* width: 100%; */  /* âŒ remove this */
}

.nav-link {
  position: relative;
  display: inline-block;
  margin: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  color: black;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 40px;
  background-color: gray;
  right: -20%;
  bottom: -10px;
  border-radius: 10px;
  /* transition: width 0.3s ease; */
}

.nav-link:hover {
  color: black;
  filter: drop-shadow(0 0 60px gray);
  opacity: 1;
}

.nav-link:hover::after {
  width: 140%;
  opacity: 0.3;
}

/* --------------- Showcase Area Styling --------------- */
.showcase-area {
  margin-top: 30px;
  height: 550px;
}
.showcase-image .person{
  position: fixed;
  margin-top: -670px;
  margin-left: -570px;
  z-index: -1;
 }
 .showcase-area .name{
  margin-left: 470px;
  
 }
 .showcase-area .name .heading{
  font-weight: lighter;
  font-size: 80px;
  font-family: 'Source Serif Pro', serif;
  margin-top: 390px;
  padding-top: 60px;
  padding-bottom: 80px;
  /* margin-left: -80px; */
  width: 200%;
  background-color: transparent;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  text-align: left;
  align-items: left;
  display: block !important;
  align-items: flex-start !important;
 }
 .showcase-area .name .heading span{
  /* margin-left: 5px; */
  background-color:black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 20px;
 }
 .button{
  position: relative;
  padding-top: 40px;
  border: none;
  background-color: transparent;
 
  padding-left: 30px;
  z-index: 1;
  
 }
 .btn{
  margin-left: 1330px;
 }

.button:hover{
  color:grey;
  filter: drop-shadow( 0 0 60px gray);
  opacity: 100;
}

 .pause{
  font-size: larger;
 }
 .showcase-area .heading_small{
  
  position: relative;
  margin-left: 795px;
  margin-top: -120px;
 }
 .showcase-area .heading_small .sub-heading{
  font-size: 30px;
  display: block !important;
  align-items: flex-start !important;
  text-align: left !important;
  align-items: left;
  margin-left: -320px;
 }
 
/* --------------- Research Section Styling --------------- */
.research{
  background-color: rgb(244, 243, 243);
  width: 100%;
}
/*.research .content .heading{
  margin-left: -50px;
 }*/

 /*.research .name{
  margin-top: 60px;
  margin-left: 485px;
  padding-top: 20px;
  padding-bottom: 150px;
 }
*/
 .research-block .text, .research-block .sub-heading{
  margin-left: 0px;
  width: 100%;
  /* box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.5);
  border-radius: 30px; */
  /* font-size: small; */
  padding: 20px 30px;
  
}

.research-block-wrapper {
  display: inline-block;
  padding: 30px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin-top: -70px;
  
}


.research-block .sub-heading{
  width: 50%;
}

.research-block {
  margin-top: 150px;
  background-color: white;
  border-radius: 30px;
  padding: 30px 30px;
  /* margin: 20px auto; */
  /* margin-left: -620px; */
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  width: 120%;
  height: auto;
  align-self: center;
}

 .research-block .pic{
  margin-top: 0;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0);
 }

.hover-zone {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.left-hover:hover,
.right-hover:hover {
  background-color: rgba(255, 255, 255, 0.36); /* Light overlay */
  /* backdrop-filter: blur(15px);               Optional blur */
  cursor: pointer;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.5s ease;
}


.hover-zone {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
}

.left-hover {
  left: 0;
}

.right-hover {
  right: 0;
}

.hover-hint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
  transition: opacity 0.8s ease;
}

.hover-hint.show {
  opacity: 1;
}



 /* --------------- Software Section Styling --------------- */
/*.software .heading{
  padding-left: 40px;
}*/

.text_double{
  line-height: 2;
  font-weight: lighter;
  width: 400px;
 }
.sub-heading_double{
  padding-top: 200px;
  font-weight: lighter;
  font-size: 25px;
  font-family: 'Source Serif Pro', serif;
}



/* .column1 .sub-heading_double{
margin-top: -80px;
} */

.row {
  display: flex;
  /* margin-left: -350px; */
  margin-top: -150px;
  
}
.column {
  flex: 50%;
}
.pic{
  margin-top: 200px;
  border-radius: 30px;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.5);
}

/* 
.column1 .pic{
  margin-top: 220px;
}

.column2 .pic{
  margin-top: 200px;
} */
.column1{
 /* margin-left: -120px; */
 width: 500px;
}
.column2{
  /* margin-left: 300px; */
  width: 500px;
  padding-left: 100px;

}
.column1 .long{
  margin-left: -120px;
}

.column2 .long{
  margin-left: -120px;
}

/* --------------- News Section Styling --------------- */
/*.news .heading{
  padding-left: 70px;
}*/

/* --------------- Contact Section Styling --------------- */
/*.contact .heading{
  padding-left: 10px;
}*/
/* --------------- Positions Section Styling --------------- */
/*.position .heading{
  margin-left: -200px;
}*/


/* --------------- Footer Styling --------------- */
.foot {
  position: absolute;
  width: 100%;
  background-color: transparent;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index: 10;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-icons {
  display: flex;
  gap: 10px; /* space between icons */
  /* margin-bottom: 10px; */
  margin-bottom: -5px;
}

.footer-icons .fa {
  color: black;
  text-decoration: none;
}
.footer-content .text,
.footer-content .text2 {
  font-size: smaller;
  font-weight: lighter;
  /* margin: 2px 0; */
  
}

.footer-content .text{
  margin-bottom: -10px;
}


/* --------------- Transition --------------- */
.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transition-1.is-active {
  pointer-events: all;
  opacity: 1;
}

/* --------------- Error --------------- */
#error{
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bolder;
}

.edit-btn{
  background-color: transparent;
  border-radius: 3px;
  border-color: transparent;
  margin-top: 30px;
  /* margin-left: 10px; */
  text-align: center;
  color: lightgray;
  width: auto;
}
.edit-btn:hover{
  background-color: grey;
}


/* --------------- 1000px Screens --------------- */

@media (max-width: 1000px) {
  .showcase-area .name .heading{
   width: 280%;
  }
  
  .bggray{
   width: 190%;
   height: 100%;
  }
  .research{
    width: 190%;
  }

  .foot{
    width: 190%;
  }
  
  /* .btn{
    margin-left: 1400px;
   } */ 

}

/* --------------- 768px Screens --------------- *

@media (max-width: 768px) {
  .bggray{
    width: 200%;
   }
   .research{
    width: 200%;
  }
   .foot{
    width: 200%;
  }

  
}

/* --------------- 500px Screens --------------- *

@media (max-width: 500px) {
  .bggray{
    width: 300%;
   }
   .research{
    width: 300%;
  }
   .foot{
    width: 300%;
  }
 
   .nav-link{
    font-size: 12px;
   }
   header{
    width: 800px;
  }
}
/* --------------- 500px Screens --------------- *

@media (max-width: 420px){

.research{
  width: 100%;
}
.foot{
  width: 100%;
}

}
